.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: auto;
  width: 650px;
  height: 50px;
  font-size: 30px;
}


.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* left: 25vw; */
}