.tagContainer {
  /* border: 1px solid black; */
  /* border-style: outset; */
  background-color: rgb(194, 187, 187);
  display: flex;
  flex-direction: column;

  /* height: 300px; */
  width: 99.5vw;
}

.tagHeader {
  align-self: center;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.tagBox {
  /* margin: 15px; */
  overflow: auto;
  align-self: center;
  justify-content: center;
  /* align-items: flex-start; */
  display: flex;
  width: 100vw;
  /* justify-content: center; */
  /* height: 200px; */
  /* width: 300px; */
}

.tagItem {
  border: 2px solid rgb(211, 207, 207);
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  margin: 10px 0px 10px 5px;
  font-weight: bolder;
  font-size: 16px;
  align-self: center;
  padding: 5px;
  white-space: nowrap;
  display: block;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* height: fit-content; */
  /* width: fit-content; */
}

.tagItem.hide {
  display: none;
}

.tagItem:hover {
  cursor: pointer;
  background-color: rgb(221, 215, 215);
}
