/* width */
::-webkit-scrollbar {
    width: 0.5vw;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    }

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.chatContainer{
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color:white; 
    border:solid black 1px;
    width: 350px;
}

.chatContainer.open{
    bottom: 0px;
}

.chatContainer.close{
    bottom: -437px;
}

.notLoggedIn {
    height: 35px; 
    background-color:rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    
}